{{ header }}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

        <div class="mixitup-container">
            <div class="controls projects__buttons">
                <ul>
                    {% for sale in sales %}
                        <li class=" filter projects__buttons-button" data-id="{{ sale.category_id }}" data-filter=".{{ sale.name }}"> {{ sale.name }}</li>
                    {% endfor %}

                </ul>
            </div>

            <div class="container margin-top">
                <div class="row ">

                    <div class="swiper-viewport">
                        <div id="my-carousel" class="swiper-container">
                            <div class="swiper-wrapper">

                            </div>
                        </div>
                        <div class="swiper-pagination carousel-pag"></div>
                        <div class="swiper-pager">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>




    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{{ footer }}

<script type="text/javascript">



    // language=JQuery-CSS
    $filter_btns = $('.filter');

    var flag = false;

    if($filter_btns.hasClass('mixitup-control-active')){
        flag = true;
    }

    if(flag === false){
        $filter_btns.first().addClass('mixitup-control-active');
    }

    $active = $('.mixitup-control-active');





    if( $filter_btns.hasClass('mixitup-control-active')) {

        $.ajax({

            url: 'index.php?route=common/home/ajaxGetProducts&category_id=' + $active.data('id'),
            dataType: 'json',
            method: 'GET',
            success: function (json) {

                var html = '';

                if (json['products']) {
                    for (var i = 0; i < json['products'].length; i++) {
                        html += '<div class="swiper-slide text-center">'+ json['products'][i]['name'] +'</div>';
                    }
                }

                $('.swiper-wrapper').append(html);

                swiper = new Swiper('#my-carousel',{
                    slidesPerView: 3,
                    mode: 'horizontal',
                    pagination: '.carousel-pag',
                    paginationClickable: true,
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    autoplay: 2500,
                    loop: true
                });

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#response').html(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

    }


    $('.filter').on('click', function () {
        if(! $(this).hasClass('mixitup-control-active')) {

            $.ajax({
                url: 'index.php?route=common/home/ajaxGetProducts&user_token={{ user_token }}&category_id=' + $(this).data('id'),
                dataType: 'json',
                method: 'GET',
                success: function (json) {



                    var html = '';

                    if (json['products']) {
                        for (var i = 0; i < json['products'].length; i++) {
                            html += '<div class="swiper-slide text-center">'+ json['products'][i]['name'] +'</div>';
                        }
                    }
                    swiper.destroy();

                    $('.swiper-wrapper').empty();
                    $('.swiper-wrapper').append(html);

                    swiper = new Swiper('#my-carousel',{
                        slidesPerView: 3,
                        mode: 'horizontal',
                        pagination: '.carousel-pag',
                        paginationClickable: true,
                        nextButton: '.swiper-button-next',
                        prevButton: '.swiper-button-prev',
                        autoplay: 2500,
                        loop: true
                    });

                    // owl.trigger('destroy.owl.carousel');
                    // owl.empty();
                    // owl.append(html);
                    //
                    //
                    //
                    // owl.owlCarousel({
                    //     loop: true,
                    //     nav: true,
                    //     items: 3,
                    // });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#response').html(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });

        }
    });
</script>